/** @format */

body {
  background: rgb(230, 206, 162);
}

h1,
p,
footer {
  text-align: center;
}
footer {
  display: block;
}

footer a {
  margin: 0 15px;
  color: green;
}
.croissant-photo {
  max-width: 100%;
  border-radius: 5px;
  display: block;
  margin: 30px auto;
}
